body {
background-color:slateblue;
}

header {
    padding: 20px;
    background-color: limegreen;
}
header b{
    font-family:Arial, Helvetica, sans-serif;
}

header img{
    margin-right: 25px;
    height: 50px;
    width: 50;
}
main h1{
    text-align: center;
    border: 2px solid darkred;
    border-radius: 5 px;
    color: white;
    background-color:limegreen ;
    text-decoration: olive;

}
footer{
    text-align:justify;
    color:black;
}
footer p{
    border: 1px double;
    font-family:Snell Roundhand, cursive;
    border-radius: 5px;
}
nav{
    padding: 20px;
    text-align: center;
    font-size: medium;
}
nav a {
    color:white;
    margin: 20px ;
    border: 4px red solid;
    border-radius: 5px;
    background-color: blue;
}
.product{
    border: 5px double black;
    text-align: center;
    border-radius: 5px;
    color: black;
    background-color: brown;
}
main h2 {
    color:blue ;
    text-align: center;
}   
main p{
    text-align: center;
    font-size: 20px;
    font-family: Bradley Hand, cursive;

}

main {
    padding: 20px;
}
